[maxscale]
substitute_variables=true
syslog=0
threads=$THREADS

[ReadWriteSplit-Service]
localhost_match_wildcard_host=1
passwd=$SERVICE_PWD
router=readwritesplit
servers=db1,db2,db3
type=service
user=$SERVICE_USER

[ReadWriteSplit-Listener]
address=127.0.0.1
port=$READ_WRITE_PORT
protocol=$READ_WRITE_PROTOCOL
service=ReadWriteSplit-Service
type=listener

[MasterOnly-Service]
localhost_match_wildcard_host=1
passwd=$SERVICE_PWD
router_options=master
router=readconnroute
servers=db1,db2,db3
type=service
user=$SERVICE_USER

[MasterOnly-Listener]
address=127.0.0.1
port=$MASTER_ONLY_PORT
protocol=MariaDBClient
service=MasterOnly-Service
type=listener

[Galera-Monitor]
module=galeramon
passwd=$MONITOR_PWD
servers=db1,db2,db3
type=monitor
use_priority=true
user=$MONITOR_USER
disable_master_failback=false

[CLI]
type=service
router=cli

[CLI-Listener]
type=listener
service=CLI
protocol=maxscaled
socket=default

[db1]
type=server
address=$DB1_ADDRESS
port=$DB1_PORT
protocol=MariaDBBackend
priority=$DB1_PRIO

[db2]
type=server
address=$DB2_ADDRESS
port=$DB2_PORT
protocol=MariaDBBackend
priority=$DB2_PRIO

[db3]
type=server
address=$DB3_ADDRESS
port=$DB3_PORT
protocol=MariaDBBackend
priority=$DB3_PRIO
