[maxscale]
substitute_variables=true
syslog=0
# Variable substitution in the maxscale section seems broken,
# so these are hardcoded now.
auth_connect_timeout=10s
auth_read_timeout=10s

[ReadWriteSplit-Service]
localhost_match_wildcard_host=1
password=$SERVICE_PWD
router=readwritesplit
servers=db1,db2,db3
type=service
user=$SERVICE_USER

[ReadWriteSplit-Listener]
address=$READ_WRITE_LISTEN_ADDRESS
port=$READ_WRITE_PORT
protocol=$READ_WRITE_PROTOCOL
service=ReadWriteSplit-Service
type=listener

[MasterOnly-Service]
localhost_match_wildcard_host=1
password=$SERVICE_PWD
router_options=master
router=readconnroute
servers=db1,db2,db3
type=service
user=$SERVICE_USER

[MasterOnly-Listener]
address=$MASTER_ONLY_LISTEN_ADDRESS
port=$MASTER_ONLY_PORT
protocol=$MASTER_ONLY_PROTOCOL
service=MasterOnly-Service
type=listener

[Galera-Monitor]
module=galeramon
password=$MONITOR_PWD
servers=db1,db2,db3
type=monitor
use_priority=true
user=$MONITOR_USER
disable_master_failback=false

[db1]
type=server
address=$DB1_ADDRESS
port=$DB1_PORT
protocol=MariaDBBackend
priority=$DB1_PRIO

[db2]
type=server
address=$DB2_ADDRESS
port=$DB2_PORT
protocol=MariaDBBackend
priority=$DB2_PRIO

[db3]
type=server
address=$DB3_ADDRESS
port=$DB3_PORT
protocol=MariaDBBackend
priority=$DB3_PRIO
